  
  iframe {
      border: none !important;
  }
  
  /*//////////////////////////////////////////////////////////////////
  [ Scroll bar ]*/
  .js-pscroll {
    position: relative;
    overflow: hidden;
  }
  
  .table100 .ps__rail-y {
    width: 9px;
    background-color: transparent;
    opacity: 1 !important;
    right: 5px;
  }
  
  .table100 .ps__rail-y::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #ebebeb;
    border-radius: 5px;
    width: 100%;
    height: calc(100% - 30px);
    left: 0;
    top: 15px;
  }
  
  .table100 .ps__rail-y .ps__thumb-y {
    width: 100%;
    right: 0;
    background-color: transparent;
    opacity: 1 !important;
  }
  
  .table100 .ps__rail-y .ps__thumb-y::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #cccccc;
    border-radius: 5px;
    width: 100%;
    height: calc(100% - 30px);
    left: 0;
    top: 15px;
  }
  
  
  /*//////////////////////////////////////////////////////////////////
  [ Table ]*/
  
  .limiter {
    width: 1366px;
    margin: 0 auto;
  }
  
  .container-table100 {
    width: 100%;
    background: #fff;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 0px;
  }
  
  .wrap-table100 {
    width: 1070px;
  }
  
  /*//////////////////////////////////////////////////////////////////
  [ Table ]*/
  .table100 {
    background-color: #fff;
  }
  
  table {
    width: 100%;
  }
  
  th, td {
    font-weight: unset;
    padding-right: 10px;
  }
  
  .column1 {
    width: 12%;
    padding-left: 40px;
  }
  
  .column2 {
    width: 12%;
  }
  
  .column3 {
    width: 12%;
  }
  
  .column4 {
    width: 12%;
  }
  
  .column5 {
    width: 12%;
  }
   
  .column6 {
    width: 12%;
  }
   
  .column7 {
    width: 12%;
  }
   
  .column8 {
    width: 12%;
  }
  
  .table100-head th {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  
  .table100-body td {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  
  /*==================================================================
  [ Fix header ]*/
  .table100 {
    position: relative;
    padding-top: 60px;
  }
  
  .table100-head {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .table100-body {
    max-height: 434px;
    overflow: auto;
    margin-top: 0px;
  }
  
  
  /*==================================================================
  [ Ver1 ]*/
  
 

  .table100.ver1 .table100-head {
    border: 1px solid #ecb074;
    box-shadow: 3px 3px 13px 2px rgba(220, 111, 0, 0.92);
    font-weight: 700;
  }
  
  .table100.ver1 td {
    font-family: Lato-Regular;
    font-size: 15px;
    color: #808080;
    line-height: 1.4;
  }
  
  .table100.ver1 .table100-body tr:nth-child(even) {
    background-color: #f8f6ff;
  }
  
  /*---------------------------------------------*/
  
  .table100.ver1 {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  }
  
  .table100.ver1 .ps__rail-y {
    right: 5px;
  }
  
  .table100.ver1 .ps__rail-y::before {
    background-color: #ebebeb;
  }
  
  .table100.ver1 .ps__rail-y .ps__thumb-y::before {
    background-color: #cccccc;
  }
  
/* Css regarding tab */

  .dashboard-stat.blue-soft {
    background-color: #4c87b9;
  }
  .dashboard-stat.red-soft {
    background-color: #d05454;
  }
  .dashboard-stat.green-soft {
    background-color: #3faba4;
  }
  .dashboard-stat.purple-soft {
    background-color: #8877a9;
  }

  .dashboard-stat-light {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .dashboard-stat {
    display: block;
    margin-bottom: 25px;
    overflow: hidden;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
  }

  .dashboard-stat .visual {
    width: 80px;
    height: 80px;
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 35px;
  }

  
  .dashboard-stat .visual > i {
    margin-left: -35px;
    font-size: 110px;
    line-height: 110px;
  }
  .dashboard-stat-light .details {
    margin-bottom: 5px;
  }
  .dashboard-stat .details {
    position: absolute;
    right: 15px;
    padding-right: 15px;
  }
  .dashboard-stat.blue-soft .details .number {
    color: #FFFFFF;
  }
  .dashboard-stat-light .details .number {
    font-weight: 300;
    margin-bottom: 0px;
  }
  .dashboard-stat .details .number {
    padding-top: 25px;
    text-align: right;
    font-size: 34px;
    line-height: 36px;
    letter-spacing: -1px;
    margin-bottom: 0px;
    font-weight: 300;
    color: #FFFFFF;
  }
  .dashboard-stat .details .desc {
    text-align: right;
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: 300;
    color: white !important;
  }
 /* Css regarding tab */ 
 /* Custom width property for grid dated 31/08/2020 */
.twenty_percentage_width{
      flex: 0 0 20%;
}
 /* Custom width property for grid dated 31/08/2020 */
 