
  
 /* Css regarding tab not using */

  .dashboard-stat.blue-soft {
    background-color: #4c87b9;
    box-shadow: 4px 3px 7px 3px grey;
  }
  .dashboard-stat.green-soft{
    background-color: #8BC34A;
    box-shadow: 4px 3px 7px 3px grey;
  }
  .dashboard-stat.blue-soft{
  background-color: #673AB7;
  box-shadow: 4px 3px 7px 3px grey;
  }
  .dashboard-stat.darkgreen-soft {
    background-color: darkgreen;
    box-shadow: 4px 3px 7px 3px grey;
  }
  .dashboard-stat.darkgray-soft {
    background-color: #607d8b;
    box-shadow: 4px 3px 7px 3px grey;
  }

  .dashboard-stat.purple-soft {
    background-color: #8877a9;
    box-shadow: 4px 3px 7px 3px grey;
  }
  .dashboard-stat.red-soft {
    background-color: red;
    box-shadow: 4px 3px 7px 3px grey;
  }
  .dashboard-stat.orange-soft {
  background-color: #FF9800;
  box-shadow: 4px 3px 7px 3px grey;
}

  .dashboard-stat-light {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .dashboard-stat {
    display: block;
    margin-bottom: 25px;
    overflow: hidden;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
  }

  .dashboard-stat .visual {
    width: 80px;
    height: 80px;
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 35px;
  }

  
  .dashboard-stat .visual > i {
    margin-left: -35px;
    font-size: 110px;
    line-height: 110px;
  }
  .dashboard-stat-light .details {
    margin-bottom: 5px;
  }
  .dashboard-stat .details {
    position: absolute;
    right: 15px;
    padding-right: 15px;
  }
  .dashboard-stat.blue-soft .details .number {
    color: #FFFFFF;
  }
  .dashboard-stat-light .details .number {
    font-weight: 300;
    margin-bottom: 0px;
  }
  .dashboard-stat .details .number {
    padding-top: 25px;
    text-align: right;
    font-size: 34px;
    line-height: 36px;
    letter-spacing: -1px;
    margin-bottom: 0px;
    font-weight: 300;
    color: #FFFFFF;
  }
  .dashboard-stat .details .desc {
    text-align: right;
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: 300;
    color: white !important;
  }
 /* Css regarding tab not using */ 
 /* Custom width property for grid dated 31/08/2020 */
.twenty_percentage_width{
      flex: 0 0 20%;
}

 /* Custom width property for grid dated 31/08/2020 */
 /*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
  */
  /* Responsive section css */
	@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
    tr:nth-child(odd) {
      background: #ccc;
    }
    
		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		td:nth-of-type(1):before { content: "Id"; }
		td:nth-of-type(2):before { content: "Service No"; }
		td:nth-of-type(3):before { content: "Requester Id"; }
		td:nth-of-type(4):before { content: "Incident Type"; }
		td:nth-of-type(5):before { content: "Catagory"; }
		td:nth-of-type(6):before { content: "Sub Catagory"; }
		td:nth-of-type(7):before { content: "Status"; }
		td:nth-of-type(8):before { content: "Action"; }
		td:nth-of-type(9):before { content: "Priority"; }
    td:nth-of-type(10):before { content: "Opening Date"; }
    td:nth-of-type(11):before { content: "Closing Date"; }
  }
  

table{
  width: 100%;
}
/* Responsive section css */
/* Material design theme */
.card {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
.card {
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px;
  color: #333333;
  background: #fff;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #eeeeee;
  border-radius: 0.25rem;

}
.card-stats .card-header.card-header-icon, .card-stats .card-header.card-header-text {
  text-align: right;
}
.card [class*="card-header-"] {
  margin: 0px 15px 0;
  padding: 0;
  position: relative;
}
.card .card-header {
  z-index: 3 !important;
}
.card [class*="card-header-"], .card[class*="bg-"] {
  color: #fff;
}
.card .card-header {
  border-bottom: none;
  background: transparent;
}
.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid #eeeeee;
}
.card [class*="card-header-"] .card-icon, .card [class*="card-header-"] .card-text {
  border-radius: 3px;
  background-color: #999999;
  padding: 15px;
  margin-top: -20px;
  margin-right: 15px;
  float: left;
}
.card .card-header-warning .card-icon, .card .card-header-warning:not(.card-header-icon):not(.card-header-text), .card .card-header-warning .card-text {
  box-shadow: 0 4px 20px 0px rgb(174 143 230), 0 7px 10px -5px rgb(118 64 214);
}
.card .card-header-warning .card-icon, .card .card-header-warning .card-text, .card .card-header-warning:not(.card-header-icon):not(.card-header-text), .card.bg-warning, .card.card-rotate.bg-warning .front, .card.card-rotate.bg-warning .back {
  background: linear-gradient(60deg, #38427d, #118aea);
}

.card .card-header-success .card-icon, .card .card-header-success:not(.card-header-icon):not(.card-header-text), .card .card-header-warning .card-text {
  box-shadow: 0 4px 20px 0px #F44336, 0 7px 10px -5px #F44336;
}
.card .card-header-success .card-icon, .card .card-header-success .card-text, .card .card-header-success:not(.card-header-icon):not(.card-header-text), .card.bg-warning, .card.card-rotate.bg-warning .front, .card.card-rotate.bg-warning .back {
  background: linear-gradient(60deg, #F44336, #E91E63);
}

.card .card-header-open .card-icon, .card .card-header-open:not(.card-header-icon):not(.card-header-text), .card .card-header-warning .card-text {
  box-shadow: 0 4px 20px 0px #8BC34A, 0 7px 10px -5px #8BC34A;
}
.card .card-header-open .card-icon, .card .card-header-open .card-text, .card .card-header-open:not(.card-header-icon):not(.card-header-text), .card.bg-warning, .card.card-rotate.bg-warning .front, .card.card-rotate.bg-warning .back {
  background: linear-gradient(60deg, #8BC34A, #4CAF50);
}

.card .card-header-Answered .card-icon, .card .card-header-Answered:not(.card-header-icon):not(.card-header-text), .card .card-header-warning .card-text {
  box-shadow: 0 4px 20px 0px #FF9800, 0 7px 10px -5px #ff980047;
}
.card .card-header-Answered .card-icon, .card .card-header-Answered .card-text, .card .card-header-Answered:not(.card-header-icon):not(.card-header-text), .card.bg-warning, .card.card-rotate.bg-warning .front, .card.card-rotate.bg-warning .back {
  background: linear-gradient(60deg, #FF9800, #ff9800a3);
}

.card .card-header-Ans .card-icon, .card .card-header-Ans:not(.card-header-icon):not(.card-header-text), .card .card-header-warning .card-text {
  box-shadow: 0 4px 20px 0px #9C27B0, 0 7px 10px -5px #ff980047;
}
.card .card-header-Ans .card-icon, .card .card-header-Ans .card-text, .card .card-header-Ans:not(.card-header-icon):not(.card-header-text), .card.bg-warning, .card.card-rotate.bg-warning .front, .card.card-rotate.bg-warning .back {
  background: linear-gradient(60deg, #9C27B0, #9C27B0);
}

.card .card-header-info .card-icon, .card .card-header-info:not(.card-header-icon):not(.card-header-text), .card .card-header-warning .card-text {
  box-shadow: 0 4px 20px 0px #00BCD4, 0 7px 10px -5px #ff980047;
}
.card .card-header-info .card-icon, .card .card-header-info .card-text, .card .card-header-info:not(.card-header-icon):not(.card-header-text), .card.bg-warning, .card.card-rotate.bg-warning .front, .card.card-rotate.bg-warning .back {
  background: linear-gradient(60deg, #00BCD4, #00BCD4);
}

.card-stats .card-header.card-header-icon i {
  font-size: 36px;
  line-height: 56px;
  width: 56px;
  height: 56px;
  text-align: center;
}
.card .card-header.card-header-icon i, .card .card-header.card-header-text i {
  width: 33px;
  height: 33px;
  text-align: center;
  line-height: 33px;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.card-stats .card-header .card-category:not([class*="text-"]) {
  color: #999999;
  font-size: 14px;
}
.card-stats .card-header.card-header-icon .card-title, .card-stats .card-header.card-header-text .card-title, .card-stats .card-header.card-header-icon .card-category, .card-stats .card-header.card-header-text .card-category {
  margin: 0;
}
.card-stats .card-header .card-icon+.card-title, .card-stats .card-header .card-icon+.card-category {
  padding-top: 10px;
}
.card-stats .card-header .card-category {
  margin-bottom: 0;
  margin-top: 0;
}
card .card-header .card-category {
  margin: 0;
}
.card [class*="card-header-"] .author a, .card [class*="card-header-"] .stats, .card [class*="card-header-"] .card-category, .card [class*="card-header-"] .card-description, .card[class*="bg-"] .author a, .card[class*="bg-"] .stats, .card[class*="bg-"] .card-category, .card[class*="bg-"] .card-description {
  color: rgba(255, 255, 255, 0.8);
}
.card .card-category:not([class*="text-"]) {
  color: #999999;
}
.card .card-category {
  margin-top: 10px;
}
.card-stats .card-header.card-header-icon .card-title, .card-stats .card-header.card-header-text .card-title, .card-stats .card-header.card-header-icon .card-category, .card-stats .card-header.card-header-text .card-category {
  margin: 0;
}
.card .card-header.card-header-icon .card-title, .card .card-header.card-header-text .card-title {
  margin-top: 15px;
  color: #3C4858;
}
.card .card-header .card-title {
  margin-bottom: 3px;
}
.card [class*="card-header-"] .card-title a, .card [class*="card-header-"] .card-title, .card [class*="card-header-"] .icon i, .card[class*="bg-"] .card-title a, .card[class*="bg-"] .card-title, .card[class*="bg-"] .icon i {
  color: #fff;
}
.card .card-title:last-child {
  margin-bottom: 0;
}
.card .card-title {
  margin-top: 0;
  margin-bottom: 3px;
}
.card .card-title {
  margin-top: 0.625rem;
}
.title, .title a, .card-title, .card-title a, .info-title, .info-title a, .footer-brand, .footer-brand a, .footer-big h5, .footer-big h5 a, .footer-big h4, .footer-big h4 a, .media .media-heading, .media .media-heading a {
  color: #3C4858;
  text-decoration: none;
}
.card-title {
  margin-bottom: 0.75rem;
}
small, .small {
  font-size: 80%;
  font-weight: 400;
}
small {
  font-size: 80%;
}
.card-stats .card-header+.card-footer {
  border-top: 1px solid #eee;
  margin-top: 20px;
}
.card .card-body+.card-footer, .card .card-footer {
  padding: 0;
  padding-top: 10px;
  margin: 0 15px 10px;
  border-radius: 0;
  justify-content: space-between;
  align-items: center;
}
.card .card-footer {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 0;
}
.card .card-body, .card .card-footer {
  padding: 0.9375rem 1.875rem;
}
.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}
.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border-top: 1px solid #eeeeee;
}
.card .card-body+.card-footer .stats, .card .card-footer .stats {
  color: #999999;
  font-size: 12px;
  line-height: 22px;
}
.card .card-footer .stats {
  color: #999999;
}
.card .card-footer .author, .card .card-footer .stats {
  display: inline-flex;
}
.card .card-body+.card-footer .stats .material-icons, .card .card-footer .stats .material-icons {
  position: relative;
  top: 4px;
  font-size: 16px;
}
.card .card-footer .stats .material-icons {
  position: relative;
  top: -10px;
  margin-right: 3px;
  margin-left: 3px;
  font-size: 18px;
}
.text-danger {
  color: #f44336 !important;
}
.text-danger {
  color: #f44336 !important;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
/* Material design theme */
/* Table related design */
.card {
  border: 0;
  margin-bottom: 30px;
  border-radius: 6px;
  color: #333333;
  background: #fff;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
  border-radius: 3px;
  margin-top: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
.card .card-header-primary .card-icon, .card .card-header-primary .card-text, .card .card-header-primary:not(.card-header-icon):not(.card-header-text), .card.bg-primary, .card.card-rotate.bg-primary .front, .card.card-rotate.bg-primary .back {
  background: linear-gradient(60deg, #ab47bc, #8e24aa);
}

.card [class*="card-header-"] {
  margin: 0px 15px 0;
  padding: 0;
  position: relative;
}

.card .card-header {
  z-index: 3 !important;
}

.card [class*="card-header-"], .card[class*="bg-"] {
  color: #fff;
}

.card .card-header {
  border-bottom: none;
  background: transparent;
}

.card .card-body {
  padding: 0.9375rem 20px;
  position: relative;
}

.card .card-body, .card .card-footer {
  padding: 0.9375rem 1.875rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}
/* Table related design */
/* Table fixed header */
.text_input_size{
  height: calc(1.5em + .35rem + 1px);
}
.font_size{
  
}

.input_field_container{
  background-color: aliceblue;
  border-radius: 6px;

}
.search_panel{
  background: linear-gradient(73deg, #ff9800, #ff980087);
  box-shadow: 3px 3px 13px 2px rgba(220, 111, 0, 0.92);
  margin-left: 5vh;
  margin-right: 5vh;
  padding-left: 10vh;
  padding-right: 11vh;
  // margin-top: 4vh;
  margin-top: 6px;
  border-radius: 7px;
  -webkit-box-shadow: 4px 1px 11px 5px #ada39487
}
table.table thead th {
  border-top: none;
  width: 120%;
}
// .table_header{
//     background-image: linear-gradient(to bottom, #b5d7e4, #385d86);
// }
table.table thead th {
  border-top: none;
  color: black;
  text-decoration: underline;
  cursor: pointer;
  padding-bottom: 10px;
   /* added on 9/6/2020 */
   font-style: normal;
   font-size: 12px;
    /* font-weight: 700; */
    text-align: center;
   /* added on 9/6/2020 */
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #c0d6ed
}


table, th td {
  border: 1px solid white;
  width: 100vh;
}
.align{
  text-align: center;
}

table {
  display: flex;
  flex-flow: column;
  height: 430px;
  width: 100%;
}
table thead {
  /* head takes the height it requires, 
  and it's not scaled when table is resized */
  flex: 0 0 auto;
  width: calc(100% - 0.9em);
}
table tbody {
  /* body takes all the remaining available space */
  flex: 1 1 auto;
  display: block;
  overflow-y: scroll;
  max-height: 80vh;
}
table tbody tr {
  width: 100%;
}
table thead,
table tbody tr {
  display: table;
  table-layout: fixed;
}
/* decorations */
.table-container {
  border: 1px solid black;
  padding: 0.3em;
}
/* Edited on 17/07/2020 */
table {
  // border: 1px solid lightgrey;
}
/* Edited on 17/07/2020 */
/* Edited on 17/07/2020 */
table td, table th {
  padding: 0.3em;
  // border: 1px solid lightgrey;
}

.table td, .table th {
  padding: .75rem;
  /* vertical-align: top; */
  border-top: 1px solid #dee2e6;
  font-size: 14px;
  text-align: center;
  vertical-align: inherit !important;
}
/* Table fixed header */
/* table related buttons css */
.label_active{
    padding: 3px 15px 3px 12px;
    border-radius: 7px;
    font-size: smaller;
    color: white;
    background: linear-gradient(60deg, #8BC34A, #4CAF50);
    box-shadow: 0 4px 20px 0px #8BC34A, 0 7px 10px -5px #8BC34A;
}
.btn_closed{
    padding: 3px 15px 3px 12px;
    border-radius: 7px;
    font-size: smaller;
    background: linear-gradient(60deg, #F44336, #F44336);
    box-shadow: 0 4px 20px 0px #F44336, 0 7px 10px -5px #F44336;
}
.btn_active{
  padding: 3px 15px 3px 12px;
  border-radius: 7px;
  font-size: smaller;
  color: white;
  background: linear-gradient(60deg, #8BC34A, #4CAF50);
  box-shadow: 0 4px 20px 0px #8BC34A, 0 7px 10px -5px #8BC34A;
}
/* table related buttons css */
