<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar" class={{toggleclassProperty}}>
        <div class="sidebar-header">
            <img class="mw-150" src="../../../../assets/images/user_logo.png" alt="niit Logo" style="height: 95px;">        
        </div>
        <ul class="list-unstyled components" >
              <li class="nav-item">
                <a class="nav-link waves-light"  [routerLink]="['./dashboard']" >Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link waves-light"  [routerLink]="['./create_request']" >Create Request</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link waves-light"  [routerLink]="['./eogoschemamodule']" >MyEoGo Schema</a>
              </li>
              <li class="nav-item">
                <a class="nav-link waves-light"  [routerLink]="['./vendormodule']" >Vendor</a>
              </li>
              <li class="nav-item">
                <a class="nav-link waves-light"  [routerLink]="['./vendoruploadedprofilemodule']" >Vendor Uploaded profile</a>
              </li>     -->
        </ul> 
        <div class="">
           
        </div>
    </nav>
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light d-none d-lg-none" style="background: linear-gradient(154deg,rgb(255, 255, 255) 0,#b4ddf5bf 58%);
        box-shadow: 5px 5px 7px 1px rgba(41, 135, 232, 0.7)">
            <div class="container-fluid ">
                <button type="button" id="sidebarCollapse" class="{{navbar_btn}}" (click)="sidebarCollapseEvent()">
                    <span style="color: white;background: white;"></span>
                    <span style="color: white;background: white;"></span>
                    <span style="color: white;background: white;"></span>
                </button>
               <!-- <img class="mw-150" src="../../../../assets/images/logo.png" alt="niit Logo" style="width: 65px;height: 48px;margin-left: 8px;">         -->
                
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" style="color: white !important;">
                            <a class="nav-link waves-light"  [routerLink]="['./dashboard']" >Board</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link waves-light"  [routerLink]="['./create_request']" >Create Request</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link waves-light"  [routerLink]="['./eogoschemamodule']" >MyEoGo Schema</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link waves-light"  [routerLink]="['./vendormodule']" >Vendor1</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link waves-light"  [routerLink]="['./vendoruploadedprofilemodule']" >Vendor Uploaded profile</a>
                          </li>   
                    </ul>
                </div>
            </div>
        </nav>
        <router-outlet></router-outlet>
    </div>
</div>